@import url(style.css);

@media screen and (max-width: 430px) {
    .cajapadre-info{
        gap: 10px;
        flex-direction: column;
    }
    .caja-info1{
        display: none;
    }
    header {
        background-color: white;
        justify-content: space-between;
        flex-direction: column;
        background-color: var(--azul2);
        border: 1px black solid;
      }
      nav {
        /* border: 1px #333 solid; */
        display: none;
        width: 100%;
      }
      nav ul {
        /* border: 1px red solid; */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
      nav ul li {
        /* border: 1px blue solid; */
        list-style: none;
        font-size: 18px;
        font-weight: 600;
      }
      nav ul li a {
        /* border: 1px green solid; */
        text-decoration: none;
        display: block;
        padding: 15px;
        color: white;
      }
      .icono-menu {
        display: flex;
        padding: 10px;
        width: 100%;
        justify-content: space-between;
        font-size: 35px;
        color: white;
      }
      .icono-lupa{
        display: none;
      }
      ul.submenu {
        property: new-value;
      }
    
      li:hover .submenu {
        property: new-value;
      }
    
      ul.submenu li {
        property: new-value;
      }
      /* -----------SLIDE------------ */
      .caption {
        position: absolute;
        z-index: 2;
        text-align: center;
        font-size: 15px;
        color: #fff;
        text-shadow: 0px 0px 10px #333;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        font-family: var(--poppins);
        font-weight: 600;
      }
      .caption-up{
        position: absolute;
        z-index: 2;
        text-align: center;
        font-size: 15px;
        color: #fff;
        text-shadow: 0px 0px 10px #333;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        font-family: var(--poppins);
        font-weight: 600;
      }
      .formulario{
        width: 100%;
        padding: 10px;
        background-color: #1e1d249d;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: white;
        gap: 20px;
    }
    .content-video{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .section7{
      display: flex;
      flex-direction: column;
    }
    .cont-acordeon{
      margin: auto;
    }
    .galeria{
      margin: auto;
      flex-direction: column;
    }
    .btn_subir{
      background-color:var(--azul1);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: fixed;
      left: 1px;
      bottom: 300px;
      z-index: 600;
    }
    footer{
      font-size: 10px;
    }
  }