@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
    --tipografia1:'Montserrat', sans-serif;
    --delgada: 100;
    --gruesa: 700;
    --tipografia2:'Roboto', sans-serif;
    --azul1: #00AEEF;
    --azul2: #1E1D24;   
    --naranja: #FEBF01;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--tipografia1);
    font-size: 16px;
    line-height: 24px;
}
.ancho{
    max-width: 1200px;
    margin: auto;
    /* border: 1px black solid; */
}
/* CABECERA INFO */
.cajapadre-info{
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px black solid; */
}
.caja-info1{
    max-width: 60%;
    display: flex;
    gap: 10px;
    /* border: 1px red solid; */
}
.cajasinfo{
    display: flex;
    align-items: center;
}
.cajasinfo i{
    padding: 10px;
    font-size: 25px;
    color: var(--azul1);
}
.btn-appo{
    border-radius: 3px;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    background-color: var(--azul1);
    transition: all .3s;
    cursor: pointer;
}
.btn-appo:hover{
    background-color: var(--naranja);
}
.btn-appo i{
    padding-right: 10px;
    color: white;
}

/*-------------- MENU -------------- */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--azul2);
    z-index: 501;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  nav ul li {
    list-style: none;
    font-size: 15px;
    font-weight: 600;
  }
  nav ul li a {
    text-decoration: none;
    color: white;
    transition: all .3s;
  }
  nav ul li a:hover {
    color: var(--azul1);
  }
  .icono-menu {
    display: none;
    font-size: 35px;
  }
.lupa{
    color: white;
    transition: all .3s;
    cursor: pointer;
}
.lupa2{
    display: none;
    color: white;
    transition: all .3s;
    cursor: pointer;
}
.lupa:hover{
    color: var(--azul1);
}
  ul.submenu {
    padding: 15px;
    display: none;
    position: absolute;
    background-color: var(--azul2);
    min-width: 160px;
  }

  li:hover .submenu {
    display: block;
  }

  ul.submenu li {
    display: block;
  }
/* -----------SLIDE------------ */
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  .rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
  }
  
  .rslides li:first-child {
    position: relative;
    display: block;
    float: left;
  }
  
  .rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
  }
   
  .callbacks_container {
    position: relative;
    margin: auto;
  }
  .callbacks_container img {
    height: 700px;
    object-fit: cover;
  }
  .callbacks_container ul {
    margin: 0px;
  }
  
  .caption {
    position: absolute;
    z-index: 2;
    text-align: center;
    font-size: 55px;
    line-height: 60px;
    color: #fff;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-weight: 600;
  }
  .caption-up{
    position: absolute;
    z-index: 2;
    text-align: center;
    font-size: 55px;
    line-height: 60px;
    color: #fff;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    font-family: var(--poppins);
    font-weight: 600;
  }
  .callbacks_nav {
    position: absolute;
    top: 52%;
    left: 3%;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 45px;
    width: 45px;
    background: transparent url("../imagenes/flechas.png") no-repeat left top;
    background-position-y: 50%;
    margin-top: -45px;
    background-color: var(--azul2);
    border-radius: 50px;
    transition: all 1s;
  }
  .callbacks_nav:hover {
    background-color: var(--azul1);
    border: var(--azul1);
  }
  .callbacks_nav.next:hover {
    background-color: var(--azul1);
    border: var(--azul1);
  }
  .callbacks_nav.next {
    left: 93%;
    background-position: right top;
    background-position-y: 50%;
    right: 0;
  }
.slider-relative{
    position: relative;
}
.formulario{
    width: 100%;
    height: 15%;
    background-color: #1e1d249d;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
input{
    padding: 10px 15px;
}
/* --------------FIN DE SLIDER ---------------*/
.section3{
    padding-top: 50px;
    padding-bottom: 50px;
}
.s3-p1{
    max-width: 70%;
    padding-bottom: 20px;
    margin: auto;
    align-items: center;
    text-align: center;
    initial-letter-align: 1.6px;
}
.s3-p1 h1{
    font-size: 30px;
    line-height: 1.8;
}

.s3-p2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.grid-item{
    padding: 20px;
    max-width: 300px;
    text-align: center;
    background-color: var(--blanco);
}
.grid-item p{
    font-size: 13px;
}
.grid-item h1{
    font-size: 17px;
}
.icono-grid{
    width: 80px;
    height: 80px;
    margin: auto;
    border-radius: 50%;
    background-color: var(--azul1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: white;
}
.grid-item h1{
    padding: 5px;
}
.section4{
    background-color: #F6F6F6;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.content-home{
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.grid-home{
    max-width: 350px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.grid-home p{
    margin-bottom: 15px;
}
.foto-home{
    max-width: 100%;
    margin: auto;
}
.foto-home img{
    width: 100%;
}
/* CARRUSEL */
.section5{
    background: url("../imagenes/testi-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#carousel {
    position: relative;
  }
  /* contenido carrrousel */
  #slide-container {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
    padding: 10px;
    color: #000;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }
  .slide {
    padding: 50px;
    scroll-snap-align: left;
    min-width: 100%;
    text-align: left;
    color: white;
  }
  .back {
    position: absolute;
    top: 45%;
    left: 10px;
  }
  .forward {
    position: absolute;
    top: 45%;
    right: 10px;
  }
  /* contenedor indicadores */
  .slide-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .slide-indicator {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 5px;
    width: 50px;
  }
  .slide-indicator:after {
    content: "";
    background-color: #ccc;
    height: 10px;
    width: 50px;
  }
  .slide-indicator.active:after,
  .slide-indicator:hover:after {
    background-color: #19c6d9;
  }
  /* flechas */
  .arrow {

    background-color: #19c6d9;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    transition: all 0.5s;
  }
  .arrow:hover {
    color: var(--azul1);
    background-color: white;
  }
  .btn_rojo {
    padding: 10px 30px;
    text-decoration: none;
    background-color: #800000;
    color: white;
    display: inline-block;
  }
/* FIN CARRUSEL */
.section6{
    padding-top: 50px;
    padding-bottom: 50px;
}
.content-video{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.video{
    max-width: 400px;
}
/* ACORDEON */
.section7{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}
.cont-acordeon{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }
  .accordion-section {
    width: 80%;
    text-align: center;
  }
  .accordion-section h1{
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin: 15px;
    font-weight: bold;
  }
  .accordion-item {
    margin-bottom: 10px;
  }
  
  .accordion-title {
    width: 90%;
    margin: auto;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: var(--azul1);
  }
  .accordion-title h1{
    text-align: left;
    color: white;
  }
  
  .icon-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--blanco);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
  }
  
  .icon {
    color: var(--Verde);
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s;
  }
  
  .accordion-title.active .icon-plus,
  .accordion-title:not(.active) .icon-minus {
    display: none;
  }
  
  .accordion-title.active .icon-minus,
  .accordion-title:not(.active) .icon-plus {
    display: block;
  }
  
  .accordion-content {
    display: none;
    width: 90%;
    margin: auto;
  }
  .info-content{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--azul1);
    color: white;
  }
  .info-content figure{
    width: 80%;
  }
  .info-content figure img{
    width: 100%;
  }
  .social-medias{
    display: flex;
  }
  .social-medias a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
  }
  /* GALERIA */
  .cont-galeria{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px 0px;
    text-align: center;
  }
  .cont-galeria h1{
    font-size: 25px;
    margin: 15px;
    font-weight: bold;
  }
  .galeria{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
  }
  .galeria a{
    overflow: hidden;

  }
.ancla-filtro{
    position: relative;
    max-width: 250px;
}
.ancla-filtro:hover .filtro{
    opacity: 1;
    transition: all 0.5s;
}

.galeria img {
    width: 100%; 
  }
  .filtro{
    background-color: rgba(36, 40, 43, 0.719);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    color: white;
    transition: all 1s;
    box-sizing: cover;
    font-size: 30px;
  }
  /* MODAL */
  .contenedor-modal{
    display: none;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0 ;
    z-index: 506;
    background-color: rgb(51, 51, 51,.5);
    width: 100%;
    height: 100%;
    position: fixed;
  }
  .modal{
    width: 40%;
    display: flex;
    align-items: center;
    background-color: #FEBF01;
    padding: 20px;
  }
  .modal p{
    color: white;
  }
  .modal figure{
    min-width: 300px;
  }
  .modal figure img{
    width: 100%;
  }
  .btn-close{
    display: flex;
    justify-content: flex-end;
    width: 40%;
  }
  .btn-close i{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 15px;
  }
.fotomodal{
    width:100px;
    height: 300px;
    margin: auto;
}
.fotomodal img{
    width: 100%;
    height: 100%;
}
.modal-info{
    line-height: 1.6;
}
.btn_subir{
    background-color:var(--azul1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 50px;
  }
  .btn_subir i{
    color: white;
  }
.galeriaphotos ul{
  display: flex;
}
.tabs li{
  list-style: none;
}
.tabs a{
  padding: 10px 15px;
  text-decoration: none;
}
  /* FORMULARIO */
  .forms{
    width: 100%;
  }
  form{
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }
  .tittle_form{
    font-weight: bold;
    font-size: 18px;
  }
  .content_inputs{
    width: 95%;
    margin: auto;
    padding: 5px;
  }
  .caract{
    width: 100%;
      margin-bottom: 10px;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #ccc;
    border-radius: 5px;
  }
  button[type="submit"]{
    width: 100%;
    background-color: var(--azul1);
    padding: 10px 35px;
    border: 0px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    display: block;
  }
  
  button[type="submit"]:hover{
    background-color: var(--naranja);
    padding: 10px 35px;
    border-radius: 5px;
  }
textarea {
  resize: none;
  /* También puedes usar resize: vertical; o resize: horizontal; según tus necesidades */
}
footer{
    background-color: var(--azul2);
    color: white;
    padding: 5px 0;
}
.footer-info{
    display: flex;
    justify-content: space-between;
}